@import url(../fonts/fonts.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.title {
  font-family: "Montserrat Bold", sans-serif;
  color: #333;
  font-size: 3rem;
  font-weight: normal; }

.btn {
  font-family: "Oswald Bold", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1.7px;
  color: #333;
  border: none;
  text-transform: uppercase;
  background: #5cf1be;
  padding: 15px 33px 12px 33px;
  border: 2px solid #5cf1be;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    background: transparent;
    color: #fff; }
  .btn .section-title {
    font-family: "Oswald Bold", sans-serif;
    font-size: 0.875rem;
    letter-spacing: .12rem;
    color: #5cf1be;
    text-align: center; }

/* header */
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.header-fixed {
  background: rgba(31, 31, 31, 0.95); }
  .header-fixed .logo {
    padding: 0 16px; }

/* logo */
.logo {
  padding: 24px 0;
  text-transform: uppercase;
  font-family: "Porter Bold", sans-serif;
  font-size: 1.875rem;
  letter-spacing: 12px; }
  .logo__link {
    color: #fff; }
  .logo__span {
    color: #5cf1be; }

/* nav */
.nav {
  margin-left: auto; }
  .nav__item {
    font-size: 0.8125rem;
    font-family: "Oswald Bold", sans-serif;
    letter-spacing: .12rem;
    display: inline-block;
    text-transform: uppercase;
    position: relative; }
    .nav__item:not(:last-child) {
      margin-right: 65px; }
    .nav__item:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      background: #5cf1be;
      bottom: -5px;
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s; }
    .nav__item:hover:after {
      width: 25px; }
  .nav__link {
    color: #fff; }
