/* footer */

.footer
	padding-bottom: 70px

	@include media(996px)
		padding-bottom: 50px

	@include media(680px)
		padding-bottom: 15px

	&__container
		display: flex
		flex-wrap: wrap
		align-items: center

		@include media(996px)
			justify-content: space-between

		@include media(680px)
			justify-content: space-around

		@include media(400px)
			flex-direction: column

	&__contacts
		font-family: $main-text-font
		@include rem(14)
		color: $text-color

	&__span a
		color: $text-color
		transition: color .3s

		&:hover
			color: $acc-color

	&__span:first-child
		padding-right: 20px
		line-height: 2

		@include media(400px)
			padding-right: 0

		@include media(996px)
			display: block

		&:after
			content: '/'
			color: #c2c2c2
			padding-left: 20px

			@include media(996px)
				padding-left: 10px


.social
	margin: 0 auto

	@include media(996px)
		margin: 0

	@include media(400px)
		margin-top: 20px

	&__list
		font-size: 0

	&__item
		display: inline-block
		border: solid 1px #d6d6d6
		transition: border-color .3s

		&:nth-child(2)
			border-right: none
			border-left: none

		&:hover
			border-color: $acc-color

	&__link
		width: 60px
		height: 60px
		display: block
		transition: background-color .3s

		&:hover
			background-color: $acc-color

		@include media(680px)
			width: 50px
			height: 50px
			

		&--fb
			background: url(../img/facebook.png) no-repeat center center
		&--tw
			background: url(../img/twitter.png) no-repeat center center
		&--pt
			background: url(../img/pinterest.png) no-repeat center center

.copyright
	font-family: $main-text-font
	color: rgba(51, 51, 51, 0.5)
	@include rem(12)
	margin-left: auto

	@include media(996px)
		margin-left: 0

	@include media(680px)
		width: 100%
		text-align: center
		margin-top: 40px

	@include media(400px)
		margin-top: 25px