/* services */

.services
	padding: 100px 0
	background: #f0f0f0

	&__container
		display: flex

	&__btn-wrap
		margin-top: 40px
	
	&__btn:hover
		color: $acc-color

	&__title
		margin-top: 25px

	&__desc
		@include rem(22)
		line-height: 1.55
		margin-top: 20px

		&-wrap
			max-width: 400px
			padding-right: 50px
	
	&__list
		width: 770px
		display: flex
		flex-wrap: wrap


	&__item
		width: 370px
		height: 410px
		background: #fff
		margin-right: 30px
		margin-top: 30px
		display: flex
		align-items: center
		justify-content: center

		&:nth-child(2n)
			margin-right: 0

		&:first-child,
		&:nth-child(2)
			margin-top: 0

	.card
		&__main-side
			text-align: center


		&__img
			display: inline-block

		&__title
			font-family: $desc-font
			@include rem(28)
			color: $text-color
			margin-top: 25px

			

.card__back-side
	display: none

