/* testimonials */

.testimonials
	padding: 90px 0 95px 0

	&__desc
		max-width: 760px
		margin: 40px auto 0 auto
		text-align: center
	
	&__author
		text-align: center
		position: relative

		&:after
			content: ''
			display: block
			width: 70px
			height: 2px
			background: $acc-color
			margin: 15px auto 0 auto

/* logos */

.logos
	&__list
		padding: 90px 35px 0 35px
		margin-top: 85px
		border-top: 1px solid rgba(31, 31, 31, .1)
		display: flex
		justify-content: space-between

